header{
    height: 150px;
    background-color: #1CDBB6;
}

.content {
  min-height: calc(100vh - 70px);
}
.img-container{
    text-align: center;
    display: block;
}
img{
    height: 150px;
}
footer{
    height: 50px;
    background-color: #1CDBB6;
}
